#body {
  font-family: 'Orbit', sans-serif;
}

.level {
  user-select: none;
  cursor: pointer;
  width: 70px;
  height: 70px;
  margin: 5px;
}

.inRed1 {
  background-color: #d88b92 !important;
  transition: background-color 0.6s;
}

.outAll {
  background-color: #f5f5f5 !important;
  transition: background-color 0.6s;
}

.inPurple1 {
  background-color: #c097ee !important;
  transition: background-color 0.6s;
}

.inBlue1 {
  background-color: #9a8ed8 !important;
  transition: background-color 0.6s;
}

.inOrange1 {
  background-color: #d8b08e !important;
  transition: background-color 0.6s;
}

.inYellow2 {
  background-color: #f6eaa8 !important;
  transition: background-color 0.6s;
}

.inPink2 {
  background-color: #f5a8f6 !important;
  transition: background-color 0.6s;
}

.inCyan2 {
  background-color: #a8f6ee !important;
  transition: background-color 0.6s;
}

.inLime2 {
  background-color: #a8f6ac !important;
  transition: background-color 0.6s;
}

.inRuby3 {
  animation: backgroundpulse 2s infinite ease-in-out;
  background-color: #f47bad;
}

.luvu {
  animation: backgroundpulse 2s infinite ease-in-out;
  background-color: #eb3883;
}

a {
  color: inherit; 
  text-decoration: none;
}

.locked {
  cursor: not-allowed;
}

@keyframes backgroundpulse {
  0% {
    background-color: #eb3883;
  }
  30% {
    background-color: #eb639b;
  }
  40% {
    background-color: #eb3883;
  }
  80% {
    background-color: #eb639b;
  }
  100% {
    background-color: #eb3883;
  }
}