#hiddenText {
  position: absolute;
  left: 50%;
  top: 90%;
  color: rgb(255, 255, 255);
  forced-color-adjust: none; 
  visibility: hidden;
}



#console{
  border-style: none;
  resize: none;
  position: absolute;
  top: 5%;
  visibility: hidden
}
